<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="connect-src https://api.stripe.com; frame-src https://js.stripe.com https://hooks.stripe.com; script-src https://js.stripe.com 'unsafe-inline';" />


    <title>Payment Integration</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>

</head>

<body>

    <h1 style="text-align: center;">
        <% if (locals.message !=undefined) { %>
            <%= message %>
                <% } else { %>
                    Buy Something
                    <% } %>
    </h1>
    <hr>
    <div class="basket-container-display">
        <form>
            <div id="basket-table-container">
                <h2 style="text-align: center;">
                    <% if (basket) { %>
                        Proceed to Payment
                        <% } else { %>
                            Shopping Basket Empty: <br> <br><a href="/">Buy Something!</a>
                            <% } %>
                </h2>

              <%  if (basket) { %>
                    <table id="basket-table">
                        <tr>
                            <th>Item:</th>
                            <th>Quantity:</th>
                            <th>Price:</th>
                        </tr>
                            <% for (const item in basket) { %>
                                <% if (item !=='delivery' && item !=='subTotal' ) { %>
                                    <tr>
                                        <td>
                                            <%= item %>
                                        </td>
                                        <td>
                                            <%= basket[item].quantity %>
                                        </td>
                                        <td>
                                            £<%= basket[item].price %>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>

                    </table>
                    <div class="totals">
                        <h4 class="sub-total totals">Sub-total: £<%= basket.subTotal.toFixed(2) %>
                        </h4>
                        <h4 class="delivery-price totals">Delivery: £<%= basket.delivery.toFixed(2) %>
                        </h4>

                        <h3 class="total totals">Total : £<%= (basket.subTotal + basket.delivery).toFixed(2) %>
                        </h3>
                    </div>
                    <div class="basket-buttons-container">
                        <input type="button" value=" Pay With PayPal" id="checkout-paypal" class="basket-buttons">
                        <input type="button" value=" Pay With Stripe" id="checkout-stripe" class="basket-buttons">
                    </div>
            </div>
            <% } %>
        </form>

    </div>

    </div>


    <script>
        const stripe = window.Stripe("<%= key %>")
        const paypalCheckout = document.getElementById('checkout-paypal'); // PayPal checkout button
        const stripeCheckout = document.getElementById('checkout-stripe'); // Stripe checkout button

        paypalCheckout.addEventListener('click', async (e) => {
            window.location = '/purchase/paypal'
        });

        stripeCheckout.addEventListener('click', async (e) => {
            fetch('/purchase/stripe', {

                method: "POST",

            })

                .then(function (response) {
                    return response.json();

                })

                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });

                })

                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network

                    // error, you should display the localized error message to your

                    // customer using error.message.

                    if (result.error) {
                        console.log(result.error)
                        alert(result.error.message);

                    }

                })

                .catch(function (error) {

                    console.error("Error:", error);

                });
        });



    </script>

</body>

</html>
