<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Integration</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
    <h1 style="text-align: center;">
        <% if (locals.message !=undefined) { %>
            <%= message %>
                <% } else { %>
                    Buy Something
                    <% } %>
    </h1>

    <hr>
    <div class="basket-container-display">
        <form>
            <div id="basket-table-container">
                <h2>Shopping Basket</h2>
                <table id="basket-table">
                    <tr>
                        <th>Item:</th>
                        <th>Quantity:</th>
                        <th>Price:</th>
                    </tr>
                    <% if (basket) { %>
                        <% for (const item in basket) { %>
                            <% if (item !=='delivery' && item !=='subTotal' ) { %>
                                <tr>
                                    <td>
                                        <%= item %>
                                    </td>
                                    <td>
                                        <%= basket[item].quantity %>
                                    </td>
                                    <td>
                                        £<%= basket[item].price %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                                        <% } %>
                </table>

                <div class="totals">
                    <h4 class="sub-total totals">Sub-total: £<%= basket.subTotal.toFixed(2) %></h4>
                        <h4 class="delivery-price totals">Delivery: £<%= basket.delivery %>
                        </h4>

                    <h3 class="total totals">Total : £<%= basket.subTotal + basket.delivery %></h3>
                </div>
                <div class="basket-buttons-container">
                    <input type="button" value="Checkout" id="checkout" class="basket-buttons"> <br> <br>
                </div>
            </div>

        </form>

    </div>


    </div>
    <script>

    </script>

</body>

</html>