<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline'; connect-src 'self' https://api.stripe.com https://checkout.stripe.com; frame-src 'self' https://js.stripe.com https://hooks.stripe.com https://checkout.stripe.com; script-src 'self' https://js.stripe.com https://checkout.stripe.com 'unsafe-inline'; img-src 'self' https://*.stripe.com;" />

    <title>Payment Integration</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
</head>

<body>

    <h1 style="text-align: center;">
        <% if (locals.message !=undefined) { %>
            <%= message %>
                <% } else { %>
                    Buy Something
                    <% } %>
    </h1>
    <hr>
    <div class="basket-container-display">
        <form>
            <div id="basket-table-container">
                <h2 style="text-align: center;">
                    <% if (basket) { %>
                        Proceed to Payment
                        <% } else { %>
                            Shopping Basket Empty: <br> <br><a href="/">Buy Something!</a>
                            <% } %>
                </h2>

                <% if (basket) { %>
                    <table id="basket-table">
                        <tr>
                            <th>Item:</th>
                            <th>Quantity:</th>
                            <th>Price:</th>
                        </tr>
                        <% for (const item in basket) { %>
                            <% if (item !=='delivery' && item !=='subTotal' ) { %>
                                <tr>
                                    <td>
                                        <%= item %>
                                    </td>
                                    <td>
                                        <%= basket[item].quantity %>
                                    </td>
                                    <td>
                                        £<%= basket[item].price %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>

                    </table>
                    <div class="totals">
                        <h4 class="sub-total totals">Sub-total: £<%= basket.subTotal.toFixed(2) %>
                        </h4>
                        <h4 class="delivery-price totals">Delivery: £<%= basket.delivery.toFixed(2) %>
                        </h4>

                        <h3 class="total totals">Total : £<%= (basket.subTotal + basket.delivery).toFixed(2) %>
                        </h3>
                    </div>
                    <div class="basket-buttons-container">
                        <input type="button" value=" Pay With PayPal" id="checkout-paypal" class="basket-buttons">
                        <input type="button" value=" Pay With Stripe" id="checkout-stripe" class="basket-buttons">
                    </div>
            </div>
            <% } %>
        </form>

    </div>
    <script>
        const stripe = window.Stripe("<%= key %>") // Instantiates stripe with publishableKey
        const paypalCheckout = document.getElementById('checkout-paypal'); // PayPal checkout button
        const stripeCheckout = document.getElementById('checkout-stripe'); // Stripe checkout button

        paypalCheckout.addEventListener('click', async (e) => {
            window.location = '/purchase/paypal' // Redirects to PayPal checkout functionality
        });

        /**
         * Will make a POST request, a stripe session is created and returned. The user is redirected to 
         * the stripe checkout page to collect user details.
        */
        stripeCheckout.addEventListener('click', async (e) => {
            try {
                const response = await fetch('/purchase/stripe', {
                    method: "POST",
                });
                const session = await response.json();
                const result = await stripe.redirectToCheckout({ sessionId: session.id });
            } catch (error) {
                console.log(error);
            }
        });
    </script>

</body>

</html>